.carvaluation-content{
    padding: 50px 78px;
    .valuation-card{
        background-color: #E5E5E5 !important;
        padding: 20px 0 !important;
    }
    .contain{
        padding: 30px 78px;
        margin: 50px 0;
        .valuation-title{
            font-family: "DM Serif Display";
            font-style: normal;
            font-weight: normal;
            font-size: 47px;
            line-height: 30px;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .valuation-text{
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #000000;
    
        }
    }
    .content-valuation{
        padding: 0 78px;
        .valuation-name{
            font-weight: 600;
            font-size: 30px;
            line-height: 30px;
            color: #000000;
            display: flex;
            align-items: center;
            justify-content: center;
            justify-items: center;
        }
        .valuation-dise{
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #000000;
        }
    }
    
}
// .valuationcar
.valuation-content{
    margin: 50px 0;
    .valuation-car{
        background-image: url('../../assets/valuationcar.svg');
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 550px;
        margin-bottom: 50px;
        // padding: 100px 0 50px 0;
        display: flex;
        align-items: flex-end;
        justify-content: right;
       
    }
    .cover-title{
        display: flex;
        justify-content: right;
        text-align: right;
        align-content: flex-end;
        // margin: 150px 0 100px 0;
        .valuation-title{
            font-weight: 600;
                font-size: 32px;
                line-height: 30px;
                color: #FFFFFF;

        }
        .valuation-name{
            font-size: 24px;

            line-height: 30px;
        color: #FFFFFF;
        }
    }
    .valuation-disc{
        font-weight: normal;
        font-size: 25px;
        line-height: 30px;
        text-align: center;
        color: #000000;
        padding: 20px 90px;
    }
}
